Repository tuataria/steve, pull requests merged in 2020-04, with the labels that each got.

#8 whois should display hours until 31 hours
  src/commands/Information/Member Info/whois.ts
  src/lib/types/enums.ts
Labels: command, semcommit: feat, semver: minor

#10 s;roll improvements
  src/commands/Fun/Random/roll.ts
Labels: command, semcommit: feat, semver: minor

#9 updating version button
  README.md
  package-lock.json
  package.json
Labels: semcommit: build, semver: patch

#30 add pomodoro command
  src/commands/Productivity/pomodoro.ts
  src/lib/SteveClient.ts
  src/lib/extensions/SteveUser.ts
  src/lib/schemas/user.ts
  src/lib/structures/PomodoroManager.ts
  src/lib/types/augments.d.ts
  src/lib/types/settings/UserSettings.ts
  src/serializers/pomodorosegment.ts
  src/tasks/pomodoro.ts
Labels: command, feature request, semcommit: feat, semver: minor

#34 feedback command
  config.example.ts
  src/commands/System/activity.ts
  src/commands/System/feedback.ts
  src/commands/System/pfp.ts
  src/commands/System/status.ts
Labels: command, semcommit: feat, semver: minor
